.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imageContainer {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subtitle {
  font-size: 16px;
}

@media (min-width: 720px) {
  .header {
    flex-direction: row;
  }
  .imageContainer {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
