.title {
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
}
.title::before {
  content: "*";
  position: absolute;
  left: 4px;
  top: 7px;
  transform: scale(200%) rotate(20deg);
  color: #0052cc;
}
