.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textarea {
  height: 120px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  resize: none;
}
.textarea:focus {
  outline-color: #0052cc;
}
